div.carsholder-bg {
  background-color: whitesmoke;
}
div.carsholder-bg section.carsHolder div.carList a,
div#favorite-carsHolder a {
  text-decoration: none;
  color: black;
}
section.carsHolder {
  margin-top: 80px;
  display: flex;
  padding-top: 20px;
  gap: 20px;
}
section.carsHolder div.carList a.add {
  font-size: 30px;
  text-align: center;
  border: 5px dashed black;
  padding: 16px;
  border-radius: 10px;
  background-color: white;
  /* text-decoration: none; */
  /* color: black; */
}
section.carsHolder div.carList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 3;
}
section.carsHolder > div.filter {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 12px;
}
div.filter span.selected {
  background-color: violet;
  border-radius: 10px 10px 0px 0px;
}
div.filter span {
  border-bottom: 1px solid #ccc;
  background-color: white;
  font-size: 20px;
  font-weight: 350;
  padding: 12px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
}
div.filter span.selected2 {
  border-radius: 0px 00px 10px 10px;
}

div.carList div.carInfo {
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  display: flex;
  border-radius: 10px;
  background-color: white;
}
div.carList div.carInfo div.image {
  flex: 3;
  width: 200px;
}
div.carList div.carInfo div.image img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
div.carList div.carInfo div.text {
  flex: 4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.carList div.carInfo div.text div.name {
  font-weight: 700;
  display: flex;
  gap: 10px;
}
div.carList div.carInfo div.text div.name span {
}
div.carList div.carInfo div.text div.engineYear {
}
div.carList div.carInfo div.text div.engineYear span {
}
div.carInfo div.text div.features {
}
div.carInfo div.text div.features span {
  font-weight: 500;
  color: #948979;
}
div.carList div.carInfo div.text div.price {
  font-weight: 700;
  display: flex;
  gap: 10px;
}
div.carList div.carInfo div.text div.price span {
}
div.carList div.carInfo div.text div.about {
}
div.carList div.carInfo div.text div.about span {
  font-weight: 500;
  color: #948979;
}
div.carList div.carInfo div.favs {
  padding: 10px;
}
div.carList div.carInfo div.favs i {
  font-size: 20px;
}
div#favorites2 {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div#favorites2:hover,
  .buttonType:hover {
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.1);
}
#favorite-carsholder {
  display: flex;
  flex-direction: column;
}
.buttonType {
  color: #67729d;
  background-color:white;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  margin: auto;
}
