body {
  background-color: whitesmoke;
}
div.carsholder-bg {
  margin-top: 60px;
}
div#home-carsholder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.carsHolder {
  display: flex;
  padding-top: 20px;
  padding-bottom: 70px;
  gap: 20px;
  box-sizing: border-box;
}
section.carsHolder div.carList a.add {
  box-sizing: border-box;
  font-size: 35px;
  text-align: center;
  border: 5px dashed rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}
section.carsHolder div.carList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 3;
}
/*  */
section.carsHolder > div.filter {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 12px;
}
div.filter span {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background-color: white;
  font-size: 20px;
  font-weight: 350;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  display: flex;
}
section.carsHolder > div.filter span input {
  width: 100%;
  border: none;
}
div.filter span.selected {
  background-color: violet;
  border-radius: 10px 10px 0px 0px;
  user-select: none;
}
div.filter span.selected2 {
  border-radius: 0px 0px 10px 10px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
div.filter span.selected2 i {
  font-size: 20px;
  color: #394144;
  cursor: pointer;
  user-select: none;
}
div.filter span.selected,
div.filter span.selected2,
section.carsHolder > div.filter span input {
  padding: 12px;
}
section.carsHolder > div.filter span input[type="text"]:focus-visible,
section.carsHolder > div.filter span input[type="number"]:focus-visible {
  color: #394144;
  background-color: whitesmoke;
  outline: none;
}
div.filter span.selected2:hover {
  box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.3);
}
section.carsHolder > div.filter span input[type="text"]:hover,
section.carsHolder > div.filter span input[type="number"]:hover {
  box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.5);
}
/*  */
div.carInfo {
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  display: flex;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
div.carInfo:hover {
  box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.5);
}
.image {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px 0px 0px 10px;
}
div#favorite-carsHolder div.carInfo div.text {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
div#home-carsholder div.carInfo div.text {
  box-sizing: border-box;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: large;

  position: relative;
}
div.carList div.carInfo div.text div.name {
  font-weight: 700;
  display: flex;
  gap: 10px;
}
div.carInfo div.text div.features span {
  font-weight: 500;
  color: #948979;
}
div.carInfo div.text div.price {
  font-weight: 700;
  display: flex;
  gap: 10px;
}
div.carInfo div.text div.about span {
  font-weight: 500;
  color: #948979;
}
div.carInfo div.favs {
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: o;
  right: 0;
}
div.carInfo div.favs i {
  cursor: pointer;
  font-size: 20px;
}
div#favorites2:hover,
.buttonType:hover {
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.1);
}
.deleteButton {
  position: absolute;
  user-select: none;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  display: flex;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.deleteButton i {
  font-size: 20px;
}
#next,
#prev {
  user-select: none;
  cursor: pointer;
}
.item img {
  width: 100%;
}
