body {
  background-color: whitesmoke;
}
div#details {
  display: flex;
  padding: 0.9375rem;
  line-height: 1.5;
  gap: 10px;
  margin-top: 100px;
  background-color: white;
  width: 1000px;
  border-radius: 10px;
}
div#details div {
}
div#details div.image {
  flex: 1;
}
div#details div.image img {
  width: 100%;
  border-radius: 10px;
}
div#details div.text {
  color: #394144;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: large;
  padding: 20px;

  position: relative;
}
div#details div.text div {
  display: flex;
  gap: 10px;
}
div#details div.text div.about {
  padding-top: 16px;
  border-top: 1px solid #c5ccce;
}
div#details div.text div#features {
  border-top: 1px solid #c5ccce;
  padding-top: 16px;
}
div#details div.text div span {
  font-size: 20px;
}
div#details div.text div.price span {
  font-size: 28px;
  font-weight: 600;
}
div#details div.text div#features {
}
div#details div.text div#features span {
}
div#details div.text div.favorite {
  position: absolute;
  top: 0;
  right: 0;
}
div#details div.text div.favorite i {
  font-size: 25px;
}
/* new table */
div.bgParent,div.responsivTable {
  margin-top: 20px;
}
div.bgParent {
  background-color: white;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
div.bg div.parent {
  padding: 10px;
  display: flex;
  justify-content: center;
}
div.bg div {
  padding: 0 15px;
  width: 100%;
}
div.bg div table,
div.responsivTable table {
  width: 100%;
  padding: 0.75rem;
  background-color: white;
  border-collapse: collapse;
}
div.responsivTable {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px 23px;
  display: none;
}
div.bg div table tr,
div.responsivTable table tr {
  color: #394144;
  width: 100%;
}
div.bg div table tr th,
div.responsivTable table tr th {
  padding: 12px;
}
div.bg div table tr td,
div.responsivTable table tr td {
  width: 100%;
  padding: 12px;
}
.selected {
  background-color: #ccc;
}