body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
#favorites2 {
  width: 350px;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px 0 0 15px;
  padding: 1rem;
  color: #394144;
  background-color: #ffffff;
  flex-direction: column;
  z-index: 3;

  overflow: auto;
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
}
div#carfavorite {
  display: flex;
  flex-direction: column;
}
.carParent {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 10px;
}
.saved {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.saved span {
  font-size: 20px;
  font-weight: 700;
}
.saved span i {
  color: #394144;
  cursor: pointer;
}
.favoriteCar {
  display: flex;
  /* border-radius: 20px 20px 0 0; */
}
.favoriteCar .image {
  flex: 1;
  border-top-left-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.favoriteCar div.carText {
  flex: 1;
  padding: 0.5rem;
}
.favoriteCar div.carText span {
}
.favoriteCar div.carText div span {
}
.modelName {
  display: flex;
  gap: 8px;
}
.carAbout {
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.carAbout i {
  cursor: pointer;
  user-select: none;
}
.buttonType {
}
#carLike {
  position: relative;
  left: 65px;
}
