body {
  background-color: whitesmoke;
}

div.createFeatures {
  margin-top: 85px;
  display: flex;
}
div.createFeatures input {
  flex: 1;
}
div.createFeatures button {
  color: #67729d;
  background-color: white;
}
div.createFeatures button,
div.createFeatures input {
  padding: 12px 16px;
  border-radius: 12px;
}
div.createFeatures input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
div.createFeatures button.enter{
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div#feature {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
div#features {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
div#feature h1 {
}
div#feature div.buttons {
}
div#feature div.buttons .addfeature{
  background-color: #e54592;
  border-color: #e54592;
  color: white;
}
div#feature button.editfeature { 
  background-color: white;
}

div#feature div.buttons .editfeature,
div#feature div.buttons .addfeature{
  padding: 12px 16px;
  border-radius: 12px;
}