body {
  background-color: whitesmoke;
}
div.createFeatures {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  margin-top: 90px;
  display: flex;
  border-radius: 10px;
  width: 300px;
}
div.createFeatures:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

}
div.createFeatures:hover > input {
  user-select: none;
  border: none;
}
.createFeatures button.enter {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.createFeatures input {
  width: 100%;
  border-right: 0;
  border-color: transparent;
  padding: 8px;
  border-radius: 10px 0 0 10px;
}
div.createFeatures input:focus-visible {
  outline: none;
}
.enter {
  border: none;
  user-select: none;
  cursor: pointer;
  background-color: #e54592;
  color: white;
  padding: 8px;
  border-radius: 0 10px 10px 0;
}
.enter i {
  font-size: 18px;
}

div#featuresParent {
  display: grid;
  grid-template-columns: calc(33.33% - 8px) calc(33.33% - 8px) calc(
      33.33% - 8px
    );
  gap: 10px;
  margin-top: 20px;
}
div#featuresParent div.feature {
  background-color: white;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
div#featuresParent div.feature:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
div#featuresParent div.feature h1 {
  text-align: center;
}
div#featuresParent div.feature div.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
div#featuresParent div.feature div.buttons div {
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
div#featuresParent div.feature div.buttons div.addfeature {
  background-color: #e54592;
  color: white;
}
