footer {
  background-color: #394144;
  display: flex;
  line-height: 1.5;
  position: relative;
  top: 20px;
}
footer .container {
  display: flex;
}
footer .container div.left {
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container div.left div.text {
  display: flex;
  flex-direction: column;
}
footer .container div.left .border {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}
footer .container div.left div.text a {
  text-decoration: none;
  color: white;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
}
footer .container div.left .image {
  width: 150px;
}
footer .container .image img {
  width: 100%;
  display: flex;
}
footer .container div.right {
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container div.right .image {
  width: 40px;
  display: flex;
  gap: 20px;
}
footer .container div.right .imageSelected {
  width: 200px;
}
footer .container div.right .imageSelected img {
  width: 100%;
}
footer .container div.right .image img {
  display: flex;
  width: 100%;
}
footer .container div.right div.ico {
  display: flex;
  gap: 15px;
}
footer .container div.right div.ico i {
  font-size: 25px;
  color: white;
}
footer .container div.right div.ico i:hover {
  color: #8a8a8a;
}
footer .container div.left div.text a:hover {
  color: #8a8a8a;
}

footer .container .Name,
footer .container .Name2 {
  color: white;
  font-size: 20px;
}
footer .container .Name {
}
