body {
  background-color: whitesmoke;
}

form.create {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
  border-radius: 12px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form.create h4 {
  border-bottom: 1px solid #ccc;
}
form.create input,
form.create select {
  padding: 12px;
  border-radius: 12px;
  border: 0.0625rem solid #ccc;
}
form.create input:hover {
  border: 1px solid black;
}
form.create input,
form.create select {
  width: 200px;
}
form.create button {
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #e54592 !important;
  border-color: #e54592 !important;
  color: white;
}
form.create button:hover {
}
