body {
  background-color: whitesmoke;
}
div.create-bg {
  padding-top: 50px;
  padding-bottom: 70px;
}
form.create {
  margin-top: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}
form.create:hover {
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
}
form.create h3 {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
form.create div.divParent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
form.create div.divParent div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
form.create div.divParent div.leftCar {
}
form.create div.divParent div.rightCar {
}
form.create div.onclick {
  margin: auto;
  width: 200px;
  height: auto;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #e54592;
  color: white;
  cursor: pointer;
  user-select: none;
  text-align: center;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
}
form.create div.onclick:hover {
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
}
form.create div.divParent div label {
}
form.create div.divParent div label:hover {
  font-weight: bold;
}
form.create div.divParent div input {
}
form.create div.divParent div select {
}
form.create div.divParent div select option {
}
form.create input:hover,
form.create select:hover {
  border: 1px solid black;
}
form.create select {
  padding: 9px;
}
form.create input,
form.create select {
  border: 0.0625rem solid #ccc;
}
form.create div.divParent div input,
form.create div.divParent div label,
form.create div.divParent div select {
  padding: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
