div.header-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.1);
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a img {
  width: 100%;
  height: auto;
  display: flex;
}
header > a {
  display: inline-block;
  width: 130px;
}
header > div.right {
  display: flex;
}
header > div.right a,
header a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #67729d;

  padding: 16px;
  display: inline-block;
  font-size: 20px;
}

header > div.right a:hover,
header a:hover {
  color: pink;
  background-color: whitesmoke;
}
a#Favorites {
  display: flex;
  flex-direction: column;
}
